* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height:100%;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	min-height:100%;
	font-family: sans-serif;
}

a:hover {
	opacity: .7;
	cursor: pointer;
}

/********************      Header      ********************/

nav {
	width: 85%;
	margin: auto;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.hamburger-menu {
	display: none;
}

.header-logo {
    width: 90px;
	margin-top: 10px;
}

.nav-list {
    list-style: none;
	padding: 0;
	margin-left: 70px;
	display: inline-block;
	vertical-align: super;
}

.nav-list li {
    display: inline-block;
	margin-right: 20px;
	font-weight: 600;
}

.nav-list li:hover {
	color: #989898;
	cursor: pointer;
}

.header-right {
    flex-direction: column;
}

.social-list {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    display: flex;
}

.social-list li {
    display: inline-block;
	opacity: .6;
}

.insta {
	height: 29px;
    width: 32px;
    background: url(./assets/socialSprite.png) -103px 0px;
}

.twitter {
	height: 29px;
    width: 32px;
    background: url(./assets/socialSprite.png) 36px 0px;
}

.facebook {
	height: 29px;
    width: 32px;
    background: url(./assets/socialSprite.png) 67px -1px;
}

.linkedin {
	height: 29px;
    width: 32px;
    background: url(./assets/socialSprite.png) 0px 28px;
}

.search-bar-container{
	position: relative;
}

.search-bar, .mailing-list-input, .sign-up-btn {
    width: 200px;
    border-style: none;
    padding: 10px;
    font-weight: 700;
    background-color: #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	outline: none;
}

.search-bar-icon {
	width: 18px;
	position: absolute;
	top: 8px;
	right: 10px;
}

.search-bar-icon:hover {
	opacity: .6;
	cursor: pointer;
}

/********************     hero       ********************/

.hero-img {
    height: 65vh;
    background-image: url('./assets/hero4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	position: relative;
}

.tag-line-container {
	position: absolute;
	width: 50%;
	color: white;
	top: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.tag-line, .tag-line-subtext {
	font-weight: 300;
}

.tag-line {
	margin: 0;
}

.tag-line-subtext {
	margin: 5px 0 20px 0;
}

.hero-img-btn {
	text-transform: uppercase;
	padding: 10px;
	font-weight: 500;
	opacity: .85;
	color: #31ccd4;
	font-size: 1.5rem;
	outline: none;
}

.hero-img-btn:hover {
	background-color: #cacaca;
	cursor: pointer;
}

/********************     main content       ********************/

main {
    width: 85%;
    margin: auto;
}

.home-content-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
	border-bottom: 1px solid;
	padding-bottom: 20px;
}

.home-content {
    width: 30%;
    text-align: center;
}

.home-content-image {
    width: 100%;
}

.section-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
	color: #31ccd4;
}

.section-subtitle, .section-description {
    font-weight: 300;
	color: grey;
}

.section-subtitle {
    font-size: 2rem;
}

/********************     footer       ********************/

footer {
	width: 85%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 70px;
	margin-bottom: 5px;
}
.footer-address, .copyright, .join, .sign-up-btn {
	text-transform: uppercase;
}

.footer-address {
	margin: 0;
	font-weight: 600;
}

.social-list-footer {
    list-style: none;
    padding: 0;
    display: flex;
	opacity: .6;
	margin-top: 30px
}

.vimeo {
    height: 24px;
    width: 26px;
    background: url(./assets/socialSprite.png) 30px 89px;
}

.copyright {
	font-size: 1.2rem;
	color: grey;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
}

.join {
	font-weight: 600;
}

.mailing-list-input {
	width: 250px;
}

.sign-up-btn {
	width: 80px;
	background-color: #a0a0a0;
	color: #efefef;
}

.sign-up-btn:hover {
	background-color: #d5d5d5;
	color: #adadad;
	cursor: pointer;
}

.footer-social-media-mobile {
	display: none;
}

/********************      Media Queries      ********************/

@media only screen and (max-width: 992px) {

	/******* header *******/

	nav {
		width: 95%;
	}

	.nav-list {
		margin-left: 15px;
	}

	.nav-list li {
		margin-right: 10px;
	}

	/********* hero *********/

	.tag-line-container {
		width: 70%;
		left: 50%;
	}

	/********* footer *********/

	.footer-left {
		width: 45%;
	}
}

@media only screen and (max-width: 768px) {

	/******* header *******/

	nav {
		text-align: center;
		display: block;
		position: relative;
	}

	.nav-list, .header-right {
		display: none;
	}

	.header-logo {
		margin: 10px 0;
	}

	.hamburger-menu {
		display: inline-block;
		width: 35px;
		position: absolute;
		top: 50%;
		left: 5%;
		transform: translate(-50%, -50%);
	}

	.hamburger-menu:hover {
		opacity: .6;
		cursor: pointer;
	}

	/********* hero *********/

	.hero-img {
		height: 45vh;
	}

	.tag-line-container {
		position: relative;
	    transform: none;
	    color: black;
		left: 0;
		text-align: center;
		width: 85%;
		margin: 20px auto;
	}

	.hero-img-btn {
		border: none;
		background-color: #efefef;
		opacity: 1;
	}

	/********* main *********/

	main {
		width: 95%;
	}

	.home-content-container {
		flex-direction: column;
		width: 85%;
		margin: 0 auto;
	}

	.home-content {
		width: 100%;
	}

	.section-title {
		display: none;
	}

	.section-subtitle {
		font-size: 2.5rem;
	}

	.section-description {
		line-height: 2.5rem;
	}

	/********* footer *********/

	footer {
		flex-direction: column;
		width: 90%;
	}

	.footer-social-media-desktop {
		display: none;
	}

	.footer-social-media-mobile {
		display: block;
	}

	.footer-left {
		width: 100%;
	}

}

@media only screen and (max-width: 600px) {

	/******* header *******/

	.header-logo {
		width: 75px;
	}

	/********* hero *********/

	.hero-img {
		height: 35vh;
	}

	.tag-line-container {
		width: 100%;
	}

	/********* main *********/

	.home-content-container {
		width: 100%;
	}

	/********* footer *********/

	.mailing-list-input {
		width: 200px;
	}

}
